/*BASE*/
/*-------font size-------*/
.fs-2{font-size:2px!important}
.fs-5{font-size:5px!important}
.fs-7{font-size:7px!important}
.fs-9{font-size:9px!important}
.fs-10{font-size:10px!important}
.fs-11{font-size:11px!important}
.fs-12{font-size:12px!important}
.fs-13{font-size:13px!important}
.fs-14{font-size:14px!important}
.fs-15{font-size:15px!important}
.fs-16{font-size:16px!important}
.fs-17{font-size:17px!important}
.fs-18{font-size:18px!important}
.fs-19{font-size:19px!important}
.fs-20{font-size:20px!important}
.fs-21{font-size:21px!important}
.fs-22{font-size:22px!important}
.fs-23{font-size:23px!important}
.fs-24{font-size:24px!important}
.fs-25{font-size:25px!important}
.fs-30{font-size:30px!important}
.fs-31{font-size:31px!important}
.fs-34{font-size:34px!important}
.fs-36{font-size:36px!important}
.fs-40{font-size:40px!important}
.fs-60{font-size:60px!important}

/*PAGE*/
.logo span.logo-lg img,.logo span.logo-sm img{height:35px;}
.nav-user img{object-fit:cover;object-position:center;}
.font-normal{font-weight:normal;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.cust-clock>div{padding:0 10px;min-width:32px;line-height:70px;text-align:center;max-height:70px;display:flex;align-items:center;}
.navbar-custom .topnav-menu .nav-link{padding:0 10px;}
.navbar-custom .button-menu-mobile.navbar-toggle .lines{padding-top:0;height:70px;line-height:70px;}
.navbar-custom .button-menu-mobile svg path{-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;}
.left-side-menu{width:270px;}
.content-page{margin-left:270px;}
.footer{left:270px;}
.logo{width:270px;}
#sidebar-menu>ul>li>a{padding:15px 20px;font-size:14px;}
.left-side-menu{padding:0 0 20px 0;}
#sidebar-menu>ul>li>a i{margin:0 10px 0 5px;}
body:not(.enlarged) .logo{text-align:left;padding:0 25px;}
.enlarged .left-side-menu{position:fixed;padding-top:0;width:70px!important;z-index:5;}
.enlarged .left-side-menu #sidebar-menu>ul>li>a span{padding-left:0px;}
.left-side-menu{display:flex;flex-direction:column;justify-content:space-between;}
.sidebar-fixBtn{padding:10px 25px 10px 25px;text-align:center;}
.sidebar-fixBtn a{padding:10px 20px;border-radius:9999px;font-weight:600;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;display:inline-block;}
.enlarged .sidebar-fixBtn{padding:10px 0 10px 0;}
.enlarged .sidebar-fixBtn a span{display:none;}
.enlarged .sidebar-fixBtn a{padding:10px 0 10px 0;width:45px;min-width:45px;display:inline-block;}
.enlarged .sidebar-fixBtn a i{margin-right:0!important;}
#sidebar-menu>ul>li>a img{display:inline-block;line-height:1.25rem;margin:0 10px 0 5px;text-align:center;vertical-align:middle;width:20px;font-size:14px;}
@media (max-width:767.98px){
    .left-side-menu{display:none;z-index:99!important;}
    .sidebar-enable .left-side-menu{display:flex;}
}
.enlarged .left-side-menu #sidebar-menu>ul>li>a{min-height:55.05px;}
.enlarged .left-side-menu #sidebar-menu>ul>li:hover>a.active:after{display:none;}
img.rounded-circle{object-fit:cover;object-position:center;}
.nav-second-level li a,.nav-thrid-level li a{padding:10px 20px;}
.profile-dropdown .dropdown-item{white-space:normal;display:flex;}
.modal-header{position:relative;}
.notification-are .tab-content>.tab-pane{display:block;height:0;opacity:0;visibility:hidden;}
.notification-are .tab-content>.tab-pane.active{height:auto;visibility:visible;opacity:1;}
.notification-are>.dropdown-menu{padding-top:0;width: 320px !important;}
.notification-are .noti-title{padding:0;}
.notification-are .noti-title h5{align-items:center;}
.notification-are .noti-title .nav-link{font-size:12px;line-height:1.4;padding:10px!important;background:transparent!important;}
.notification-are .noti-title h5 form{flex:1;}
.notification-are>.dropdown-menu>.tab-content{padding-top:5px;}
.notification-are>.dropdown-menu>.tab-content{padding-top:5px;}
.notification-are .notify-item{display:flex;position:relative;}
.noti-right{flex:1;min-width:1px;padding-left:12px;}
.notification-are .notify-item .notify-icon{min-width:1px;margin-right:0;padding:5px;font-size:12px;display:flex;align-items:center;justify-content:center;}
.noti-right .notify-details{margin-left:0!important;display:flex;justify-content:space-between;}
.noti-right .user-msg{margin-left:0!important;}
.noti-right .notify-details span{flex:1;min-width:1px;}
.notification-are .notify-item:not(:last-child):after{content:"";display:block;width:calc(100% - 30px);height:1px;position:absolute;bottom:0;left:15px;}
.poit-scroll-items{display:flex;height:30px;line-height:30px;}
.poit-scroll-marquee{height:30px;border-radius:9999px;padding:0 24px;}
.poit-scroll{display:flex;height:70px;background-color:transparent;align-items:center;}
.poit-scroll-item{font-size:12px;font-weight:600;}
.poit-scroll-item .poit-scroll-up,.poit-scroll-item .poit-scroll-down{margin-left:10px;}
.poit-scroll-item:not(:last-child){margin-right:15px;padding-right:15px;}
.poit-scroll-item{position:relative;}
.poit-scroll-item:not(:last-child):after{content:"";position:absolute;right:0;top:10px;height:10px;width:1px;}
.poit-scroll-item span{white-space:nowrap;}
.sub-stock-item{background-repeat:no-repeat;background-size:cover;background-position:top right;position:relative;padding:30px;border-radius:0.25rem;overflow:hidden;}
@media(min-width:1201px) and (max-width:1365px){
    .sub-stock-item{padding:20px;}
    .sub-stock-right{padding-left:15px;}
}
.sub-stock-item:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
.sub-stock-item>*{position:relative;z-index:2;}
.sub-stock-item>p{margin-top:0;margin-bottom:5px}
.sub-stock-sort{min-width:64px;min-height:64px;display:flex;justify-content:center;align-items:center;border-radius:15px;font-size:24px;font-weight:bold;margin-right:24px;}
.sub-stock-sort{display:none;}
.sub-stock-right{padding-left:0;}
.sub-stock-right h4{font-size:24px;font-weight:bold;margin:0;margin-bottom:5px;}
.sub-point-change{font-size:14px;font-weight:bold;padding:4px 12px;border-radius:9999px;}
.footer a{-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;}
.slide-cust-nav-item{width:40px;height:40px;border-radius:9999px;display:flex;justify-content:center;align-items:center;font-size:18px;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;}
.brand-owl .item img{display:block;margin:0 auto;max-height:40px;width:auto;max-width:100%;}
.brand-owl .item{padding:25px 15px;min-height:90px;}
.main-title{font-size:15px;font-weight:bold;}
.thumb-ratio{width:100%;height:0;position:relative;}
.news-icon{font-size:20px;}
.news-item .main-title{padding-top:3px;display:block;}
.news-item:last-child{border:0!important;}
.news-item{padding:15px 0;}
.ratio-16-9{padding-bottom:56.25%;}
.ratio-1-1{padding-bottom:100%;}
.thumb-ratio img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;}
.youtube-thumb{width:235px;position:relative;cursor:pointer;}
@media(min-width:1201px){
    .youtube-thumb{width:235px!important;}
}
.img-cover{object-fit:cover;object-position:center;}
.img-circle{border-radius:9999px;overflow:hidden;}
.youtube-thumb{position:relative;cursor:pointer;}
.cursor-pointer{cursor:pointer;}
.youtube-thumb:hover .thumb-ratio:after{transform:scale(1.2);}
.youtube-thumb .thumb-ratio:after{content:"";position:absolute;top:50%;left:50%;width:40px;height:40px;margin-left:-20px;margin-top:-20px;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;}
.youtube-info{flex:1;min-width:1px;}
body{padding-bottom:0;}
.footer{left:0;}
.enlarged .footer{left:0!important;}
.footer{position:relative;}
.youtube-thumb iframe{width:100%;height:100%;position:absolute;top:0;left:0;}
.youtube-thumb.active .thumb-ratio:after{display:none;}

/*-------paragraph's lines-------*/
.text-line-1{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}
.text-line-2{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}
.text-line-3{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}
.text-line-4{display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}
.text-line-5{display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}
.text-line-6{display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}
.card.h-100{height:calc(100% - 24px)!important;}
.news-thumb{width:160px;min-width:160px;}
.news-info{min-width:1px;}
.stock-today-table tbody tr td{padding-top:15px;padding-bottom:15px;}
.news-list-scroll{max-height:450px;}
.stock-search .input-group-prepend{position:absolute;height:40px;line-height:40px;text-align:center;width:40px;padding:0!important;background:transparent!important;top:0;right:10px;z-index:22;}
.stock-search .form-control{text-align:center;border-radius:9999px!important;padding-top:0;padding-bottom:0;line-height:40px;min-height:40px;padding:0 50px 0 15px;}
.stock-search .input-group-prepend .input-group-text{background:transparent;border:0;padding:0;text-align:center;display:block;width:40px;line-height:40px;z-index:2;cursor:pointer;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;}
.header-title{line-height:1.4;}
.main-title{-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;}
.content-page{display:flex;flex-direction:column;min-height:100vh;margin-top:0;padding-top:70px!important;}
.content-page > .content{flex:1;}
.table-max-content{min-width:max-content;}
.vertical-align-middle th,.vertical-align-middle td{vertical-align:middle!important;}
.strong-10-stock{max-height:300px;overflow:auto;}
.tb-slimscroll{position:relative;overflow:auto;}
.border-left-0{border-left:0;}
.border-right-0{border-left:0;}
.table-xs th,.table-xs td{padding:0.25rem 0.5rem;}
.bg-transparent{background-color:transparent!important;}
.scroll-element_track{background:transparent!important;}
.mega-grid{display:grid;grid-template-columns:1fr auto;grid-template-rows:auto 1fr;}
.mega-grid-top{grid-column:1/span 1;grid-row:1/span 1;}
.mega-grid-bottom{grid-column:1/span 1;grid-row:2/span 1;}
.mega-grid-right{grid-column:2 /span 1;grid-row:1/span 2;}
.mega-grid-right.active{width:350px;}
.mgr-col-left{width:0;display:none;}
.mega-grid-right.active .mgr-col-left{width:300px;display:block;}
.mgr-col-right,.mega-grid-right{width:50px;}
.mgr-col-left,.mgr-col-right{padding:0;}
.content-page.content-page-full{padding-left:0!important;padding-right:0!important;padding-bottom:0!important;}
.mgt-stock-list{height:40px;}
.mgt-stock-list .btn{border:0;border-radius:0;border-bottom:4px solid transparent;border-top:4px solid transparent;background:transparent;}
.mgt-add-stock{background:transparent;}
.mgt-right-tools{height:100%;}
.mgt-right-tools .btn{padding:2px 10px;}
.mega-grid-right{z-index:27;}
@media(max-width:1200px){
    .mgt-right-tools .btn span{display:none;}
}
@media(max-width:991px){
    .mega-grid-right-mobile{position:absolute;right:50px;z-index:27;}
    .mega-grid-right.active{width:50px;}
}
.mgt-right-tools .btn{margin-right:10px;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;}
.mega-grid-right > .row{margin-left:0;margin-right:0;}
.mgr-col-right .nav .nav-link{height:50px;text-align:center;display:flex;justify-content:center;align-items:center;margin:0!important;border-radius:0;}
.mega-grid-right > .row{height:100%;}
.section-header-2{font-size:12px;font-weight:600;text-transform:uppercase;padding:8px;vertical-align:middle;text-align:center;}
.floating-tooltip-2{width:96px;height:80px;position:absolute;display:none;padding:8px;box-sizing:border-box;font-size:12px;text-align:left;z-index:1000;top:12px;left:12px;pointer-events:none;border-radius:2px;}
#gostock-foreign-chart{position:relative;}
.v-pills-pane{overflow:hidden;}
.v-pills-pane{display:flex;flex-direction:column;}
.v-pills-pane-content{flex:1;height:100%;overflow-y:hidden;overflow-x:hidden;}
.v-pills-pane-content .scrollbar-inner{height:100%;overflow-y:auto;overflow-x:hidden;}
.v-pills-pane-content .scrollbar-inner > .scroll-element.scroll-x{display:none;}
.v-pills-pane-title{margin:0;height:40px;line-height:40px;padding:0 0.375rem!important;font-size:13px;}
.text-hover-underline:hover{text-decoration:underline;}
.text-underline,.text-underline:hover{text-decoration:underline;}
.bootstrap-select .dropdown-menu .no-results{font-size:14px;font-weight:normal;}
.cust-selectpicker + .dropdown-toggle{padding:0;background:transparent!important;border:0!important;box-shadow:none!important;outline:0!important;}
.cust-selectpicker + .dropdown-toggle .filter-option-inner-inner:after {content: "\F140";display: inline-block;font-family: "Material Design Icons";}
.cust-selectpicker + .dropdown-toggle:before{opacity:0;}
.cust-selectpicker.text-align-right + .dropdown-toggle .filter-option-inner-inner{text-align:right;}
.cust-selectpicker.text-align-left + .dropdown-toggle .filter-option-inner-inner{font-weight:bold;}
.cust-selectpicker + .dropdown-toggle + .dropdown-menu .inner > ul > li > a{padding:5px 10px!important;}
.overflow-hidden{overflow:hidden;}
.v-pills-pane-navtab{height:40px;align-items:center;}
.v-pills-pane-navtab .nav-link{padding:5px;}
.toogle-show-tr .tst-hide{display:none;}
.toogle-show-tr.active .tst-hide{display:table-row;}
.block-progress{height:12px;}
.mega-grid-bottom{max-width:100%;overflow:auto;}

.w-auto{ width: auto !important; }
.w-25px{ width: 25px !important; }
.w-50px{ width: 50px !important; }
.w-75px{ width: 75px !important; }
.w-100px{ width: 100px !important; }
.w-125px{ width: 125px !important; }
.w-150px{ width: 150px !important; }
.w-175px{ width: 175px !important; }
.w-200px{ width: 200px !important; }
.w-225px{ width: 225px !important; }
.w-250px{ width: 250px !important; }
.w-275px{ width: 275px !important; }
.w-300px{ width: 300px !important; }
.w-325px{ width: 325px !important; }
.w-350px{ width: 350px !important; }
.w-375px{ width: 375px !important; }
.w-400px{ width: 400px !important; }

.mw-0{ min-width: 0 !important; }
.mw-25px{ min-width: 25px !important; }
.mw-50px{ min-width: 50px !important; }
.mw-75px{ min-width: 75px !important; }
.mw-100px{ min-width: 100px !important; }
.mw-125px{ min-width: 125px !important; }
.mw-150px{ min-width: 150px !important; }
.mw-175px{ min-width: 175px !important; }
.mw-200px{ min-width: 200px !important; }
.mw-225px{ min-width: 225px !important; }
.mw-250px{ min-width: 250px !important; }
.mw-275px{ min-width: 275px !important; }
.mw-300px{ min-width: 300px !important; }
.mw-325px{ min-width: 325px !important; }
.mw-350px{ min-width: 350px !important; }
.mw-375px{ min-width: 375px !important; }
.mw-400px{ min-width: 400px !important; }

@media (min-width: 576px){
.w-sm-auto{ width: auto !important; }
.w-sm-25px{ width: 25px !important; }
.w-sm-50px{ width: 50px !important; }
.w-sm-75px{ width: 75px !important; }
.w-sm-100px{ width: 100px !important; }
.w-sm-125px{ width: 125px !important; }
.w-sm-150px{ width: 150px !important; }
.w-sm-175px{ width: 175px !important; }
.w-sm-200px{ width: 200px !important; }
.w-sm-225px{ width: 225px !important; }
.w-sm-250px{ width: 250px !important; }
.w-sm-275px{ width: 275px !important; }
.w-sm-300px{ width: 300px !important; }
.w-sm-325px{ width: 325px !important; }
.w-sm-350px{ width: 350px !important; }
.w-sm-375px{ width: 375px !important; }
.w-sm-400px{ width: 400px !important; }
}
@media (min-width: 768px){
.w-md-auto{ width: auto !important; }
.w-md-25px{ width: 25px !important; }
.w-md-50px{ width: 50px !important; }
.w-md-75px{ width: 75px !important; }
.w-md-100px{ width: 100px !important; }
.w-md-125px{ width: 125px !important; }
.w-md-150px{ width: 150px !important; }
.w-md-175px{ width: 175px !important; }
.w-md-200px{ width: 200px !important; }
.w-md-225px{ width: 225px !important; }
.w-md-250px{ width: 250px !important; }
.w-md-275px{ width: 275px !important; }
.w-md-300px{ width: 300px !important; }
.w-md-325px{ width: 325px !important; }
.w-md-350px{ width: 350px !important; }
.w-md-375px{ width: 375px !important; }
.w-md-400px{ width: 400px !important; }
}
@media (min-width: 992px){
.w-lg-auto{ width: auto !important; }
.w-lg-25px{ width: 25px !important; }
.w-lg-50px{ width: 50px !important; }
.w-lg-75px{ width: 75px !important; }
.w-lg-100px{ width: 100px !important; }
.w-lg-125px{ width: 125px !important; }
.w-lg-150px{ width: 150px !important; }
.w-lg-175px{ width: 175px !important; }
.w-lg-200px{ width: 200px !important; }
.w-lg-225px{ width: 225px !important; }
.w-lg-250px{ width: 250px !important; }
.w-lg-275px{ width: 275px !important; }
.w-lg-300px{ width: 300px !important; }
.w-lg-325px{ width: 325px !important; }
.w-lg-350px{ width: 350px !important; }
.w-lg-375px{ width: 375px !important; }
.w-lg-400px{ width: 400px !important; }
}
@media (min-width: 1200px) {
.w-xl-auto{ width: auto !important; }
.w-xl-25px{ width: 25px !important; }
.w-xl-50px{ width: 50px !important; }
.w-xl-75px{ width: 75px !important; }
.w-xl-100px{ width: 100px !important; }
.w-xl-125px{ width: 125px !important; }
.w-xl-150px{ width: 150px !important; }
.w-xl-175px{ width: 175px !important; }
.w-xl-200px{ width: 200px !important; }
.w-xl-225px{ width: 225px !important; }
.w-xl-250px{ width: 250px !important; }
.w-xl-275px{ width: 275px !important; }
.w-xl-300px{ width: 300px !important; }
.w-xl-325px{ width: 325px !important; }
.w-xl-350px{ width: 350px !important; }
.w-xl-375px{ width: 375px !important; }
.w-xl-400px{ width: 400px !important; }
}
.icon-info{cursor:pointer;}
.table-scroll-thead .table-dark thead th{position:relative;border:0;}
.table-scroll-thead .table-dark thead th:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;}
.treegrid-expander{top:3px;}
#market-statistics-nav{position:sticky;top:70px;z-index:27;}
body:not(.light-version) .scroll-target-item.active{-webkit-animation-name:brightness;-webkit-animation-duration:1s;animation-name:brightness;animation-duration:1s;
}
@keyframes brightness{
    0%{filter:brightness(0);}
    50%{filter:brightness(2);}
    100%{filter:brightness(1);}
}
@-moz-keyframes brightness{
    0%{filter:brightness(0);}
    50%{filter:brightness(2);}
    100%{filter:brightness(1);}
}
@-webkit-keyframes brightness{
    0%{filter:brightness(0);}
    50%{filter:brightness(2);}
    100%{filter:brightness(1);}
}
#v-pills-tab-3-detail .nav-bordered{border-bottom-width:1px!important;}
#v-pills-tab-3-profile > .row{margin-left:-5px;margin-right:-5px;}
#v-pills-tab-3-profile > .row > div[class*="col"]{padding-left:5px;padding-right:5px;}
.list-managers{max-height:450px;}
.tab-content-cust .card{margin-bottom:0.75rem!important;}
.tab-content-cust .card.h-100{height:calc(100% - 0.75rem)!important;}
.table-nowrap{max-width:100%!important;width:100%!important;min-width:0px;}
.tv-lightweight-charts{margin:0 auto 5px auto;}
.switchery-small{border-radius:20px;height:15px;width:33px;}
.switchery-small>small{height:15px;width:15px;}
.switchery{display:flex;height:15px;}
.select-right{text-align-last:right;}
.select-right option{direction:rtl;}
.arrow-muted{-moz-appearance:none; /* Firefox */-webkit-appearance:none; /* Safari and Chrome */appearance:none;}
#sidebar-menu li.mm-active a.active img{mix-blend-mode:color-dodge;}

#chart_line_3{width:calc(100% - 15px);height:300px;margin:0 auto 5px auto;}
#dothidongtiennam,#dothidoanhthuthuannam{width:100%;height:300px;}
#chart-dt-thuan,#chart-ln-cotloi,#chart-ln-sauthue,#chart-ln-thuan,#chart-dinhgia,#chart-phanrachiphi,#chart-ln-truocthue,#chart-pr-ln-sauthue,#chart-bl-loinhuan,#chart-dupont,#chart-taisan,#chart-nguonvon,#chart-dongtien{width:100%;height:300px;}
#chart-quy-doanhthuthuan,#chart-quy-loinhuanthuan,#chart-quy-dinhgia,#chart-quy-phantachchiphi,#chart-quy-ptlntruocthue,#chart-quy-phantachdupont,#chart-quy-taisan,#chart-quy-nguonvon,#chart-quy-dongtien{width:100%;height:300px;}
#chart-report-gen{width:100%;height:200px;}
.filter-tabs-content .nav-pills .nav-link{border-radius:0;margin:0!important;}

.filter-tabs-content .slimscroll{max-height:175px;height:175px;}
.checkbox label,.radio label{padding-left:25px;}
.checkbox label::before,.radio label::before{left:0;margin-left:0;}
.checkbox input[type="checkbox"]+label::after,.radio-info input[type="radio"]+label::after{left:4px;margin-left:0;}
.checkbox input[type="checkbox"],.radio input[type="radio"]{display:none;}
.no-irs .irs-min,.no-irs .irs-max{display:none;}
.philtown_chart_parent{min-height:400px;}
.stock-bg-ava{width:60px;height:60px;border-radius:9999px;font-weight:bold;}
.veq-document .left{padding-top:30px;padding-bottom:0px;padding-right:0;}
.veq-document .list-dau-muc li.active a{font-weight:bold;}
.veq-document a{text-decoration:none!important;}
.veq-document .list-dau-muc i{float:left;padding-left:7px;margin-top:1px;}
.veq-document .list-dau-muc span{overflow:hidden;display:inline-block;padding-left:6px;font-size:13px;}
.veq-document .left .item{position:relative;padding-top:40px;padding-bottom:40px;}
.veq-document .left .item:before{content:"";position:absolute;top:-5px;left:-5px;width:10px;height:10px;border-radius:50%;z-index:100;}
.veq-document .left .item.active .date-year{white-space:nowrap;}
.veq-document .left .item .date-year{display:block;position:absolute;top:-16px;left:20px;font-size:15px;padding:5px 20px;border-radius:2px;}
.veq-document .list-dau-muc{display:block;}
.veq-document ul{list-style-type:none;margin:0;padding:0;}
@media (min-width:768px){
    .veq-document .left .item .date-year{left:30px;}
    .veq-document .content ul{padding-left:30px;}
}
#DocLinks{padding-left:0;}
.list-dividends > li{position:relative;display:table;padding:1px 0px 1px 0px;text-align:left;margin-bottom:10px;padding-bottom:10px;width:100%;}
.list-dividends > li .date{display:table-cell;width:100px;}
.list-dividends > li .text{display:table-cell;font-weight:normal;}
.chiathuong-scroll{max-height:425px;}
.table.controller tr[data-level="2"] td{padding-left:30px;}
.table.controller tr[data-level="3"] td{padding-left:60px;}
.border-radius-3{border-radius:3px;}
.cust-dl{display:flex;justify-content:space-between;align-items:center;margin-bottom:0px;margin-top:0px;}
.cust-dl dt,.cust-dl dd{font-weight:normal;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{line-height:1.4;}
.fdb-block .lead{min-height:40px;}
.filter-tabs-left{overflow:hidden;}
.table-paddingless th,.table-paddingless td{padding:0.125rem 0.125rem;}
.table-dark.table-hover tbody tr:hover .treegrid-expander-expanded{mix-blend-mode:screen;}
.authentication-page .form-control{display:block;width:100%;height:calc(1.5em + .9rem + 2px);padding:.45rem .9rem;font-size:.9rem;font-weight:400;line-height:1.5;background-clip:padding-box;border-radius:.2rem;-webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;}
.authentication-page .form-control::-ms-expand{background-color:transparent;border:0}
.authentication-page .form-control:focus{outline:0;-webkit-box-shadow:none;box-shadow:none}
.authentication-page .logo .logo-auth img{height:45px;}
body.authentication-page .card{width:456px;margin-left:auto;margin-right:auto;z-index:2;}
.auth-cust-bg img{max-width:100%;}
.auth-cust-bg-left,.auth-cust-bg-right{width:calc(calc(100vw - 456px) / 2);}
.auth-cust-bg-left,.auth-cust-bg-right{position:fixed;}
.auth-cust-bg-left{left:0;bottom:60px;text-align:left;}
.auth-cust-bg-right{right:0;bottom:60px;text-align:right;}
.authentication-page .logo{width:auto!important;}
#market-statistics-nav .nav-link{margin:2px 4px;}
.enlarged .left-side-menu #sidebar-menu>ul>li:hover>a span{display:inline-block;max-width:190px;overflow:hidden;text-overflow:ellipsis;}
.enlarged .left-side-menu #sidebar-menu>ul>li>ul a{white-space:normal;}
